---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: grafana-tls-certificate
  namespace: monitoring
spec:
  secretName: grafana-tls
  issuerRef:
    name: ca-{{ project_name }}-issuer
    kind: ClusterIssuer
  commonName: {{ grafana_url }}
  organization:
  - {{ project_name }} CA
  dnsNames:
  - {{ grafana_url }}
