---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: graylog-{{ project_name }}-tls
  namespace: graylog-system
spec:
  secretName: graylog-{{ project_name }}-tls
  issuerRef:
    name: ca-{{ project_name }}-issuer
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    kind: ClusterIssuer
  commonName: graylog.{{ kube_domain_name }}
  organization:
  - {{ project_name }} CA
  dnsNames:
  - graylog.{{ kube_domain_name }}
