rbac:
  # Specifies whether RBAC resources should be created
  ##
  create: true

  resources:
    - pods
    - secrets

serviceAccount:
  # Specifies whether a ServiceAccount should be created
  ##
  create: true
  # The name of the ServiceAccount to use.
  # If not set and create is true, a name is generated using the fullname template
  ##
  name: {{ project_name }}-graylog

tags:
  install-mongodb: false
  install-elasticsearch: false

graylog:
  image:
    repository: graylog/graylog:{{ graylog_version | default('4.0.1') }}
  persistence:
    enabled: true
    storageClass: rook-ceph-block
    accessMode: ReadWriteOnce
    size: 10Gi
  input:
    tcp:
      service:
        type: ClusterIP
        externalTrafficPolicy: Local
        loadBalancerIP:
      ports:
        - name: gelf-tcp
          port: 12222
        - name: beats
          port: 5061
    udp:
      service:
        type: ClusterIP
      ports:
        - name: gelf-udp
          port: 12231      
  rootUsername: "admin"
  rootTimezone: America/Toronto
  elasticsearch:
    #hosts: http://{{ project_name }}-graylog-elasticsearch-client.graylog-system.svc:9200
    hosts: http://elastic:{{ graylog_elastic_password }}@{{ project_name }}-graylog-elasticsearch:9200
    # Allow elasticsearch hosts to be fetched from a k8s secret
    # {{ graylog.fullname }}-es will be used as uriSecretName if left empty
    #uriSecretName: "graylog-elasticsearch-es-elastic-user"
    #uriSecretKey: ""
    #uriSSL: false

  mongodb:
    uri: mongodb://{{ graylog_mongodb_db_username }}:{{ graylog_mongodb_db_password }}@{{ project_name }}-graylog-mongodb:27017/graylog
    uriSecretName: {{ project_name }}-graylog-mongodb
  externalUri: graylog.{{ kube_domain_name }}
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: ca-{{ project_name }}-issuer
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    hosts:
      - graylog.{{ kube_domain_name }}
    tls:
      - hosts:
        - graylog.{{ kube_domain_name }}
        secretName: graylog-{{ project_name }}-tls
  metrics:
    ## If true, prometheus annotations will be attached
    ##
    enabled: true