{
  "title":"gelf-udp",
  "type":"org.graylog2.inputs.gelf.udp.GELFUDPInput",
  "global": true,
  "configuration": {
    "bind_address":"0.0.0.0",
    "port":{{ graylog_gelf_udp_port | default(12231) }}
  }
}

