---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: pgo
  name: pgo-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
  - secretName: pgo.tls
  rules:
  - host: pgo.{{ kube_domain_name }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: postgres-operator
            port:
              number: 8443
