---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  namespace: pgo
  name: pgo-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  rules:
  - host: pgo.{{ kube_domain_name }}
    http:
      paths:
      - path: /
        backend:
          serviceName: postgres-operator
          servicePort: 8443
