---
apiVersion: v1
kind: Namespace
metadata:
    name: nexus
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: docker-lacave-tls
  namespace: nexus
spec:
  secretName: docker-lacave-tls
  issuerRef:
    name: ca-lacave-issuer
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    kind: ClusterIssuer
  commonName: docker.lacave
  organization:
  - Lacave CA
  dnsNames:
  - docker.lacave
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: nexus-lacave-tls
  namespace: nexus
spec:
  secretName: nexus-lacave-tls
  issuerRef:
    name: ca-lacave-issuer
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    kind: ClusterIssuer
  commonName: nexus.lacave
  organization:
  - Lacave CA
  dnsNames:
  - nexus.lacave    
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
    namespace: nexus
    name: nexus-deployment
    labels:
        app: nexus
spec:
    serviceName: nexus
    replicas: 1
    selector:
        matchLabels:
            app: nexus
    template:
        metadata:
            labels:
                app: nexus
        spec:
            securityContext:
                runAsUser: 0
                runAsGroup: 0
                fsGroup: 0
            volumes:
                - name: nexus-data
                  persistentVolumeClaim:
                    claimName: nexus3-claim
            containers:
            - name: nexus
              image: sonatype/nexus3:latest
              ports:
              - containerPort: 8081
              volumeMounts:
              - name: nexus-data
                mountPath: /nexus-data
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: nexus3-claim
    namespace: nexus
    labels:
        app: nexus
spec:
    accessModes:
    - ReadWriteOnce
    resources:
        requests:
            storage: 100Gi
    storageClassName: local-path
---
    apiVersion: v1
    kind: Service
    metadata:
        namespace: nexus
        name: nexus-service
    spec:
        selector:
            app: nexus
        ports:
        - name: web
          protocol: TCP
          port: 8081
          targetPort: 8081
        - name: docker
          protocol: TCP
          port: 5000
          targetPort: 5000
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
    namespace: nexus
    name: ingress-nexus
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/proxy-body-size: 2000m
      cert-manager.io/cluster-issuer: ca-lacave-issuer
spec:
  tls:
  - hosts:
    - nexus.lacave
    secretName: nexus-lacave-tls
  rules:
  - host: nexus.lacave
    http:
      paths:
      - path: /
        backend:
          serviceName: nexus-service
          servicePort: 8081
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  namespace: nexus
  name: ingress-docker-nexus
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: 2000m
    cert-manager.io/cluster-issuer: ca-lacave-issuer
spec:
  tls:
  - hosts:
    - docker.lacave
    secretName: docker-lacave-tls
  rules:
  - host: docker.lacave
    http:
      paths:
      - path: /
        backend:
          serviceName: nexus-service
          servicePort: 5000
